* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url('../img/background.jpg') no-repeat top center/cover;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 40%;
  padding: 10px 0;
  text-align: center;
  background-color: #bebebe;
  border-radius: 6px;
}

.section {
  width: 40%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 6px;
  background-color: #bebebe;
  text-align: center;
}

.section h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

.section p {
  font-size: 18px;
}

form {
  width: 40%;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #bebebe;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

form input {
  outline: none;
  height: 30px;
  width: 200px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

form button {
  cursor: pointer;
  width: 200px;
  height: 30px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .2s;
}

form button:hover {
  background-color: #a0ecff;
}

.input-rez {
  width: 40%;
  font-size: 16px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #bebebe;
}

@media (max-width: 1030px)  {
    .container {
      width: 600px;
    }

    form,
  .title,
  .section,
  .input-rez {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .container {
    width: 400px;
  }

  form,
  .title,
  .section,
  .input-rez {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .container {
    width: 280px;
  }

  form,
  .title,
  .section,
  .input-rez {
    width: 100%;
  }
}